*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}
.top-header{
    background-color: #1861c0;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;

}
.top-header .row{
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 100px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.top-header a{
   color: #fff;
   text-decoration: none;
   font-size: 10px;
  
}
.top-header .right-column a{
   padding-right: 7px;
}
.main-header .row{
     display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 10px;
    padding-bottom: 10px;
}
.main-header a{
     font-size: 12px;
     text-decoration: none;
     font-weight:600;
     color: black;
     text-transform: uppercase;
   padding-top: 30px;
   position: relative;

}
.main-header .column-icon{
    text-align: right;
    padding-top: 18px;
    font-size: 10px;
}
.main-header li {
     display: inline-block;
     padding-right: 40px;
     list-style: none;

}
.main-header li:last-child {
    padding-right: 0;
}
.slider-section img {
     width: 100%;
     height: 700px;
}
.slider-section  {
     position: relative;
     width: 100%;
}
.slider-section .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.slider-caption {
     position: absolute;
     width:100%;
     top:30%;
     translate: translateY(-50%);
}
.slider-caption h1{
    color: #fff;
     font-size: 50px;
     font-weight: 400;
}
.slider-caption p{
    color: #fff;
    padding-top: 10px;
    padding-bottom: 15px;
}

.slider-caption a{ 
     font-size: 15px;
     text-decoration: none;
     background: #85af4b;
     color: #fff;
     font-weight: 500;
     text-transform: uppercase;
     padding: 12px 20px;
     display: inline-block;
     border: 2px solid #85af4b;
     border-radius: 30px;
}
.slider-caption .contact {
    
     background: transparent;
     color: #85af4b;
}
.provider .row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 90px;
    padding-bottom: 90px;
    column-gap: 30px;
}
.provider{
    padding-bottom: 40px;
}
.providers .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    column-gap: 50px;
    padding-top: 20px;
    padding-bottom: 40px;
}
.providers h3{
    font-size: 25px;
}
.provider h3 {
    font-size: 30px;
}
.figure {
    background-color: #f8fafc;
    padding-top: 50px;
}
.figure .row {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 80px;
}
.figure img {
    height: 350px;
    width: 350px;
}
.figure .right-column {
    padding-top: 40px;
}
.figure h3{
     font-size: 20px;
}
.values .row{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.about{
    padding-top: 80px;
    padding-bottom: 100px;
}
.about .row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
}
.figure a{
    
     font-size: 15px;
     text-decoration: none;
     background: #85af4b;
     color: #fff;
     font-weight: 500;
     text-transform: uppercase;
     padding: 12px 20px;
     display: inline-block;
     border: 2px solid #85af4b;
     border-radius: 30px;
     margin-top: 20px;
}
.purchase{
      background: url(Image/rectangle_511.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     padding-top: 60px;
     padding-bottom: 60px;
}
.purchase .container{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #fff;
}
.purchase a {
   
     font-size: 15px;
     text-decoration: none;
     background: #85af4b;
     color: #fff;
     font-weight: 500;
     text-transform: uppercase;
     padding: 12px 20px;
     display: inline-block;
     border: 2px solid #85af4b;
     border-radius: 30px;
     margin-top: 20px;
}
.project .row{
     display: grid;
     grid-template-columns:1fr 1fr 1fr;
     column-gap: 30px;
     align-items: center;
     padding-top: 10px;
     row-gap: 30px;
}
.project .container{
     text-align: center;
     padding-top: 70px;
     padding-bottom: 70px;
}
.project h2 {
    padding-top: 40px;
    padding-bottom: 40px;
}
.testi .container{
    text-align: center;
    color: #fff;
}
.testi{
    background: url(Image/rectangle_513.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     padding-top: 60px;
     padding-bottom: 60px;
}
.team{
    padding-bottom: 50px;
    padding-top: 50px;
}
.team .row{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 20px;
      text-align:left;
}
.team .container{
    text-align: center;

}
.team h1{
    padding-bottom: 40px;
    padding-top: 50px;
}
.team  h3{
    padding-bottom: 10px;
    padding-top: 10px;
}
.sponsor{
    background-color: #f8f8f8;
}
.sponsor .row {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding-top: 70px;
    padding-bottom: 70px;
}
.subscribe{
    background-color: #02295a;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
  column-gap: 15px;
}
.latest .row2{
    display: flex;
    column-gap: 10px;
}
.subscribe .row{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    c
}
.subscribe a{
         font-size: 15px;
     text-decoration: none;
     background: #85af4b;
     color: #fff;
     font-weight: 500;
     text-transform: uppercase;
     padding: 12px 20px;
     display: inline-block;
     border: 2px solid #85af4b;
     margin-top: 20px;
}
.footer{
    background-color: #001b3d;
    color:#fff;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer .row{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.footer a{
     font-size: 12px;
     text-decoration: none;
     font-weight:600;
     color: #fff;
     text-transform: uppercase;
   padding-top: 30px;
   position: relative;

}
.footer li {
     display: inline-block;
     padding-right: 40px;
     list-style: none;

}
