*{ 
     font-family: "Open Sans", sans-serif;
     margin:0;
     padding:0;
     box-sizing: border-box;
}
.container { 
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;

}
.slicknav_menu{
     display: none;
}
.top-header {
    background: #173a69;
    padding-bottom: 7px;
    padding-top: 7px;
   
}
.top-header a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}
.top-header .row {  
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.top-header .social-icon {
text-align: right;

}
.top-header .fa-twitter {
     padding-left: 15px;
     padding-right: 30px;
    
}
.top-header .fa-phone-volume{
     margin: 5px;
}
.top-header .fa-envelope {
     margin: 5px;

}

.main-header .row {  
    display:grid;
    grid-template-columns: 1fr 6fr;
   align-items: center;
    padding-top: 7px;

}
.main-header a{
     font-size: 15px;
     text-decoration: none;
     font-weight: 700;
     color: black;
     text-transform: uppercase;
   padding-top: 20px;
   position: relative;
}
     
.main-header li {
     display: inline-block;
     padding-right: 40px;
     list-style: none;

}
.column-icon{
     text-align:right;
}
.main-header li:last-child {
    padding-right: 0;
}
.slider-section img {
     width: 100%;
}
.slider-section  {
     position: relative;
     width: 100%;
}

.main-header a:after {
     content: '' ;
     width: 0;
     height: 4px;
     background: #000;
     position: absolute;
     bottom: -32px;
     left:50%;
     transform: translateX(-50%);
     transition: .3s;
     
} 
.main-header a:hover:after{
     width: calc(100% + 23px);

}
.slider-caption {
     position: absolute;
     width:100%;
     top:30%;
     translate: translateY(-50%);
}
.slider-caption .row {
     display: grid;
     grid-template-columns: 1.5fr 1fr;
     column-gap: 40px;
}
 .slider-caption h2{
     font-size: 17px;
     font-weight: 800;
     color: #010101;
}
.slider-caption h1{
     font-size: 60px;
     font-weight: 800;
      color: #010101;
}
.slider-caption p {
     font-size: 14px;
     color: #000;
     margin-bottom: 21px;
}
.slider-caption a{ 
     font-size: 15px;
     text-decoration: none;
     background: #173a69;
     color: #fff;
     font-weight: 500;
     text-transform: uppercase;
     padding: 12px 25px;
     display: inline-block;
     border: 2px solid #173a69;
}
.slider-caption .get-started {
     background: transparent;
     color: #173a69;

}
.service-section .row{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 text-align: center;
 max-width: 800px;
 margin: 0 auto;
 padding-top: 80px;
}
.service-section h2{
     font-size: 28px;
     color: #090909;
     text-transform: uppercase;
     text-align: center;
     padding-bottom: 10px;
}
.service-section .container{
     text-align: center;
     padding-top: 80px;
     padding-bottom: 80px;

} 
.more-service {
     background: url(more-bg.jpeg);
      background-size: cover;
     background-repeat: no-repeat;
     padding-bottom: 30px;
     padding-top: 30px;
}
.more-service h3{
     padding-bottom: 5px;
}
.more-service .row{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     column-gap: 40px;
}

.more-service img{ 
     width: 265px;
     padding-top: 30px;
     padding-bottom: 30px;
}
.about-section{
     background: url(aboutusbg.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     padding-top: 60px;
     padding-bottom: 60px;
}
.about-section .row{
     display: grid;
     grid-template-columns: 1fr 1fr;
     column-gap: 40px;
     align-items: center;
}
.about-section img{
     width: 100%;
}
.about-section .heading{
     width: auto;
     padding-left: 4px;
} 
.about-section h2{
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 10px; 
}
.about-section p{
     font-size: 15px;
     color: #090909;
     font-weight: 300;
     line-height: 25px;
     padding-bottom: 25px;
}
.about-section p:last-child{
     padding-bottom: 0;
} 
.about-section strong{
     color: #173a69;
}
.company .container{
     text-align: center;
     padding-top: 50px;
     padding-bottom: 50px;
     font-size: 30px;
}
.question{
      background: url(qsn-bg.jpeg);
     background-size: cover;
     background-repeat: no-repeat;
     padding-top: 60px;
     padding-bottom: 60px;
     height: fit-content;
}
.question .row {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     text-align: center;
     column-gap: 40px;
}
.about-support .row{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      text-align: center;
      column-gap: 40px;
}
.about-support{
     background: url(sup-bg.jpg);
      background-repeat: no-repeat;
     background-size: cover;
     padding-top: 50px;
     padding-bottom: 50px;
}
.about-support .flex-column {
     background-color: #fff;
     padding-top: 60px;
     padding-bottom: 60px;
     padding-left: 10px;
     padding-right: 10px;
     border-radius: 20px;
}
.about-support h2{
     padding: 10px;
}
.gallery-icon{
     text-align: center;
     padding-top: 50px;
     padding-bottom: 30px;
}
.gallery-section .row{
     display: grid;
     grid-template-columns:1fr 1fr 1fr;
     column-gap: 30px;
     align-items: center;
     padding-top: 10px;
     row-gap: 30px;
}
.gallery-section .container{
     text-align: center;
     padding-top: 30px;
     padding-bottom: 30px;
}
.gallery-section a{ 
     font-size: 15px;
     text-decoration: none;
     background: #173a69;
     color: #fff;
     font-weight: 500;
     text-transform: uppercase;
     padding: 12px 25px;
     display: inline-block;
     border: 2px solid #173a69;
     
}
.gallery-section img{
     width: 100%;
     display: block;
} 
.gallery-section .ser-img{
     width: auto;
     
}
 .gallery-section .caption img{
     width: auto;
     display: inline-block;

}
.gallery-section .caption{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     text-align: center;
     opacity: 0;
     transition: 0.5s;
     z-index: 1;
}
.gallery-section .flex-column {
     position: relative;

}
.gallery-section h3{
     font-weight: 700;
     font-size: 26px;
     color: #fff;
}
.gallery-section p{
     font-size: 17px;
     color: #fff;
     font-style: italic;
}
.gallery-section .flex-column:hover .caption{
     opacity: 1;

}
.gallery-section .flex-column:after{
     content:'';
     position: absolute;
     height: 100%;
     width: 100%;
     background: #000;
     top: 0;
     left: 0;
     opacity: 0;
     transition: .5s;
}
.gallery-section .flex-column:hover:after{
     opacity:.6;
}
.footer-section{
     text-align: center;
     padding-right: 50px;
     padding-left: 50px;
     margin-bottom: 30px;
}
.footer-section img {
     text-align: center;
     margin-top: 20px;
     margin-bottom: 20px;
}
.footer-section i{
     color: #837c7c;
     border: 1px solid;
     font-size: 15px;
     height: 40px;
     width: 40px;
     line-height: 40px;
     border-radius: 50%;
     margin-top: 20px;
     margin-bottom: 20px;

}
.footer-section .fa-twitter{
     margin-left: 10px;
     margin-right: 10px;
}
.gets-section .container {
     text-align: center;
}
.socket-section{
     background: #000;
     text-align: center;
     padding-top: 20px;
     padding-bottom: 20px;
}
.socket-section p{
     color: #fff;
}
.socket-section a{
     color: #fff;
     font-weight: 600;
     text-decoration: none;
}
.gets-section .get-started { 
     font-size: 15px;
     text-decoration: none;
     background: #173a69;
     color: #fff;
     font-weight: 500;
     text-transform: uppercase;
     padding: 12px 25px;
     display: inline-block;
     border: 2px solid #173a69;
     margin: 30px;
}
.getstar-section {
     background-color: #173a69;
     padding-top: 50px;
     padding-bottom: 50px;
     text-align: center;
    margin-bottom: 30px;
}
.getstar-section p{
     color: #fff;
     font-size: 24px;
}
.getstar-section a{
     color: #fff;
     font-weight: 800;
     text-decoration: none;

}
.inner-banner-section {
     background: url(inban.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     padding-top: 100px;
     padding-bottom: 100px;
     text-align: center;
}
.inner-banner-section h1{
     color: #fff;
}
.inner-banner-section p{
     color: #fff;
}

.other-support {
     background: url(sup-bg.jpg);
     background-repeat: no-repeat;
     background-size: cover;
}
 .other-support.flex-column {
     background: #fff;
 }
.other-support .row{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     column-gap: 25px;
}
 .other-support .flex-column{
     width: auto;
     display: inline-block;

}
.other-support .flex-column{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     text-align: center;
}
.contact-section input {
     display: block;
     width: 100%;
     padding: 10px;
     margin-bottom: 20px;
     box-sizing: border-box;
}
.contact-section textarea {
      display: block;
     width: 100%;
     padding: 10px;
     height: 170px;
     resize: none;
     box-sizing: border-box;
}
.contact-section .submit-btm{
     width: auto;
     background: #173a69;
     color: #fff;
     font-size: 15px;
     border: none;
     padding: 12px 25px;
     margin-top: 25px;
     margin-bottom: 50px;
}
.contact-section .name-email{
     display: grid;
     grid-template-columns: 1fr 1fr;
     column-gap: 20px;
     margin-top: 25px;
}
.contact-section h1{
     font-weight: 700;
     padding-bottom: 10px;
}
.contact-section .row{
     display: grid;
     grid-template-columns: 1fr 1fr;
     column-gap: 50px;
     padding-top: 50px;

}

.contact-section a {
     text-decoration: none;
     color: #000;
     font-weight: 600;
    
}
.contact-section li{
      padding-top: 20px;
      padding-bottom: 20px;
      list-style: none;
}


.mob-slider{
     display: none;
}


@media only screen and (max-width: 1200px){
     .slider-caption {
          top:20%;
}
 .slider-caption .row{
     column-gap: 1px;
     grid-template-columns: 1fr 1fr;
}
}
@media only screen and (max-width: 989px){
     .slider-caption{
          top:30%
          
     }
          .mob-slider{
               display: block;
          }
          .desk-slider{
               display: none;
          }
          .slider-caption .row{
               grid-template-columns: 1fr;
               text-align: center;
          }
          .slider-section{
               position: relative;
          }
          .slider-section:after{
               content:'';
               position: absolute;
               background: #fff;
               width: 100%;
               height: 100%;
               top: 0;
               left:0;
               opacity: 0.5;
          }
          .slider-caption{
               z-index: 1;
          }
          .gallery-section .container {
    
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer-section img{
     width: 170px;
}
.inner-banner-section {
   
    padding-top: 70px;
    padding-bottom: 70px;


}
.about-support .row {
   
    column-gap: 10px;
}
.more-service img {
    width: 220px;
   
}
.about-section h2 {
        font-size: 26px;
    }
}
@media only screen and (max-width: 800px){
     .about-support .row {
    row-gap: 30px;
    grid-template-columns: 1fr;
     }
    .more-service img {
        width: 212px;
    }
    .about-support .flex-column {
    
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 20px;
}
.about-section h2 {
     font-size: 22px;
}
}



@media only screen and (max-width: 767px){
      .top-header .row{
      grid-template-columns: 4fr 1fr;
}
   .service-section p {
     font-size: 13px;
 }
 .gallery-section .row {
   
    column-gap: 20px;
   
    row-gap: 20px;
}
    .more-service img {
        width: 169px;
    }
    .about-section h2{
     font-size: 21px;
    }
    .slicknav_menu{
     display: block;
     position: absolute;
     right:0;
     top:55px;
     z-index: 111;
     background: transparent;
}
#menu{
     display: none;
}
.slicknav_menu .slicknav_menutxt {
    display: none;

   
}
.slicknav_btn{
     background: transparent;
}
.slicknav_nav{
     background: #173a69;
     width: 200px;
     height: 100vh;
     margin-top: 70px;
}
.slicknav_icon{
     opacity: 0;
}
.slicknav_collapsed{
     position: relative;
}
.slicknav_collapsed::after{
     content:'\f0c9';
     position:absolute;
     font-family: fontawesome;
     left: 0;
     font-size: 30px;
     color: #173a69;
}
.slicknav_open{
     position: relative;
}
.slicknav_open::after{
     content:'\f00d';
     position:absolute;
     font-family: fontawesome;
     left: 0;
     font-size: 30px;
     color: #173a69;
}

}
@media only screen and (max-width: 640px){
     .top-header .fa-twitter {
    padding-left: 10px;
    padding-right: 20px;
}
     .slider-caption h1 {
    font-size: 40px;
}

 .service-section .row {
   
    padding-top: 40px;
}
.about-section .row {
   
    column-gap: 24px;
    
}
.gallery-section .row {

    grid-template-columns: 1fr 1fr;
   

}
 .about-section h2 {
    font-size: 19px;
}

}
@media only screen and (max-width: 580px){

.slider-caption {
          top:20%;
}
.slider-caption a {
   
    padding: 8px 15px;
}
.service-section h2 {
    font-size: 24px;
}
.service-section .mob-service{
     width: 160px;
}
.about-section {

    padding-top: 28px;
  
}
.about-section h2 {
    font-size: 15px;
}
.about-section .heading{
     width: 85px;
     padding-bottom: 10px;
}
.gallery-icon h2{
      font-size: 24px;
}
.gallery-icon .ser-img {
       width: 160px;
}
.getstar-section p {
  
    font-size: 20px;
}
.getstar-section {

    padding-top: 40px;
    padding-bottom: 40px;
}
.footer-section img{
     width: 140px;
}
.inner-banner-section {
   
    padding-top: 50px;
    padding-bottom: 50px;

}
    .more-service img {
        width: 133px;
       
    }
    .more-service .row {
  
    column-gap: 19px;
}
.question .row {
    display: grid;
    grid-template-columns:  1fr;
    text-align: center;
   row-gap: 30px;
}



}
@media only screen and (max-width: 480px){
     .service-section .row{
          grid-template-columns: 1fr;
          row-gap: 40px;
     }
     .service-section .container {
    padding-top: 45px;
    padding-bottom: 45px;
}
.service-section h2 {
    font-size: 20px;
}
.about-section .row {

    grid-template-columns: 1fr;
   
}
.about-section h2{
     padding-top: 10px;
}
.about-section p {
   
    padding-bottom: 7px;
}
.about-section {
   
    padding-bottom: 21px;
}
.gallery-section .row {
   
    grid-template-columns: 1fr;
    
}
.getstar-section p {
  
    font-size: 15px;
}
.getstar-section {

    padding-top: 30px;
    padding-bottom: 30px;
}
.more-service .row {
   
    grid-template-columns: 1fr;
    row-gap: 30px;
    text-align: center;
  
}
.more-service img {
        width: 300px;
       
    }
    .about-section h2 {
        font-size: 22px;
    }
    .contact-section .row {
    display: grid;
    grid-template-columns: 1fr;
     row-gap: 40px;
    padding-top: 50px;
}
.main-contact dl{
     margin-bottom: 30px;
}
.top-header .fa-twitter {
        padding-left: 5px;
        padding-right: 17px;
    }

}

@media only screen and (max-width: 380px){
     .top-header .row {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .top-header .social-icon {
     text-align: center;
     padding-top: 5px;
    }
    .top-header .fa-envelope {
    margin: 2px;
}
     .slider-caption {
          top:20%;
}
     
      .slider-caption h1 {
    font-size: 30px;
      }
    .slider-caption a {
   
    padding: 8px 11px;
    font-size: 10px;
}
   .slider-caption h4{
     font-size: 10px;
   }
   .service-section h2 {
    font-size: 18px;
}
.getstar-section p {
  
    font-size: 12px;
}
.getstar-section {

    padding-top: 20px;
    padding-bottom: 20px;
}
.more-service img {
        width: 275px;
    }
    .about-section h2 {
        font-size: 18px;
    }
    .slicknav_menu {
     top:90px;
}
.slicknav_nav {
     
        margin-top: 62px;
    }
}
@media only screen and (max-width: 320px){
       
       .slider-caption h1 {
    font-size: 20px;
      }
 .about-section .container {
  
    padding-left: 28px;
    padding-right: 41px;
}
.gallery-section .row {
        row-gap: 40px;
    }
   .gallery-section .container {
   
    padding-left: 40px;
    padding-right: 40px;
}
}